.formstyle {
  position: relative;
  display: grid;
  text-align: center;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
}

.formdiv {
  width: 350px;
  height: fit-content;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}
.formchild {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  color: #000;
  font-weight: bold;
  font-size: 16px;
}
.invalid {
  background-color: rgb(221, 109, 109);
}
input {
  height: 30px;
  width: 60%;
}
button {
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: blue;
  color: #fff;
  border: none;
  width: 120px;
}
button:hover,
button:focus {
  cursor: pointer;
}
p {
  position: absolute;
  color: red;
  top: 28px;
  font-size: 12px;
  text-align: right;
  width: 100%;
}
